{% extends 'base.html' %}

{% block content %}
    <section class="container-fluid">
        <nav class="navbar">
            <h1>{% block title %}Video list{% endblock %}</h1>
            <div style="text-align: right">
                <a href="{{ url_for('view.list') }}" class="btn btn-warning">Refresh</a>
                <a href="{{ url_for('view.upload') }}" class="btn btn-success">Upload</a>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th class="col">Videos</th>
                    <th class="col">State</th>
                    <th class="col">Prediction</th>
                    <th class="col text-center" colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                {%  for video in videos | reverse%}
                    {% if g.user.id ==video.created_by and video.visible == True %}
                        <tr>
                            <td>
                                <h5>
                                    {% if video.state==1 %}
                                        <a  class="text-reset text-decoration-none" href="javascript:void(0);" onclick="toggleImage('{{ video.id }}')">
                                            {{ video.title }}
                                        </a>
                                    {% else %}
                                        {{ video.title }}
                                    {% endif %}
                                </h5>
                                <p>{{ video.description }}</p>
                                <div id="screenshot-{{ video.id }}" style="display: none;">
    <img src="{{ url_for('static', filename='screenshots/' + video.id|string + '.png') }}" alt="Screenshot" class="img-fluid" style="max-height: 400px;">
</div>
                            </td>
                            {% if video.state==0 %}
                                <td>
                                    <img src="{{ url_for('static', filename='img/settingsorange.png')}}" alt="In progress" >
                                </td>
                            {% elif video.state==1 %}
                                <td>
                                    <img src="{{ url_for('static', filename='img/checkmarkgreen.png')}}" alt="Analyzed" >
                                </td>
                            {% else %}
                                <td>
                                    <img src="{{ url_for('static', filename='img/redcross.png')}}"  alt="Error" >
                                </td>
                            {% endif %}
                            {% if video.prediction == 0 %}
                                <td style="background-color: lightgreen;" class="cell-middle">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == 1 %}
                                <td style="background-color: lightyellow;" class="cell-middle">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == 2 %}
                                <td style="background-color: lightpink;" class="cell-middle">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == 3 %}
                                <td style="background-color: lightsalmon;" class="cell-middle">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == 4 %}
                                <td style="background-color: lightcoral;" class="cell-middle">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == -1 %}
                                <td style="background-color: crimson;" class="cell-middle">
                                    <90%
                                </td>
                            {% else %}
                                <td class="cell-middle">N/A</td>
                            {% endif %}
                            <td class="text-center">
                                <a href="{{ url_for('view.update', id=video.id) }}" class="btn btn-info btn-sm">Edit</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('view.delete', id=video.id) }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endif %}
                {%  endfor %}
            </tbody>
        </table>
    </section>

<script>
    function toggleImage(id) {
        var element = document.getElementById('screenshot-' + id);
        if (element.style.display === 'none') {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }
    }
</script>
{% endblock %}

