{% extends 'base.html' %}

{% block content %}
    <section class="container-fluid">
        <nav class="navbar">
            <h1>{% block title %}Video list{% endblock %}</h1>
            <div style="text-align: right">
                <a href="{{ url_for('view.list') }}" class="btn btn-warning">Refresh</a>
                <a href="{{ url_for('view.upload') }}" class="btn btn-success">Upload</a>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th class="col">Videos</th>
                    <th class="col">State</th>
                    <th class="col">Prediction</th>
                    <th class="col text-center" colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                {%  for video in videos | reverse%}
                    {% if g.user.id ==video.created_by and video.visible == True %}
                        <tr>
                            <td>
                                <h5>{{ video.title }}</h5>
                                <p>{{ video.description }}</p>
                            </td>
                            {% if video.state==0 %}
                                <td>
                                    <img src="../../static/img/settingsorange.png" alt="In progress" >
                                </td>
                            {% elif video.state==1 %}
                                <td>
                                    <img src="../../static/img/checkmarkgreen.png" alt="Analyzed" >
                                </td>
                            {% else %}
                                <td>
                                    <img src="../../static/img/redcross.png" alt="Error" >
                                </td>
                            {% endif %}
                            {% if video.prediction == 0 %}
                                <td style="background-color: lightgreen; text-align: center; vertical-align: middle;">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == 1 %}
                                <td style="background-color: lightyellow; text-align: center; vertical-align: middle;">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == 2 %}
                                <td style="background-color: lightpink; text-align: center; vertical-align: middle;">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == 3 %}
                                <td style="background-color: lightsalmon; text-align: center; vertical-align: middle;">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == 4 %}
                                <td style="background-color: lightcoral; text-align: center; vertical-align: middle;">
                                    {{ video.prediction }}
                                </td>
                            {% elif video.prediction == -1 %}
                                <td style="background-color: crimson; text-align: center; vertical-align: middle;">
                                    <90%
                                </td>
                            {% else %}
                                <td style="text-align: center; vertical-align: middle;">N/A</td>
                            {% endif %}
                            <td class="text-center">
                                <a href="{{ url_for('view.update', id=video.id) }}" class="btn btn-info btn-sm">Edit</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('view.delete', id=video.id) }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endif %}
                {%  endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}